@import '../common/_variables.scss';
@import '../common/_typography.scss';

.goal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: $copy-margin-bottom * 2;
  padding-bottom: $copy-margin-bottom * 2;
  border-top: $light-gray 3px solid;
}

.tags-cont {
  margin-bottom: $copy-margin-bottom;
  display: flex;

  .tag {
    display: none;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: $copy-margin-bottom / 2;
    }

    &.tagged {
      display: block;
    }

    &.exercise {
      border-color: $sand;
    }

    &.coding {
      border-color: $redish;
    }

    &.cooking {
      border-color: $blush;
    }
  }
}

.title-cont {
  margin-bottom: $copy-margin-bottom;
}

.number {
  margin-right: 5px;
}

.title, .number {
  font-size: 1.2rem;
}

.status-cont {
  display: flex;

  .status, .delete {
    background-color: $light-gray;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $roboto-bold;

    &:not(:last-child) {
      margin-right: $copy-margin-bottom;
    }
  }

  .status.active {
    background-color: $green-bg;
  }
}
