@import '../common/_variables.scss';
@import '../common/_typography.scss';

.container {
  width: 50%;
  padding-right: $section-padding;
}

.field {
  margin-bottom: $copy-margin-bottom;
}

.label {
  margin-bottom: 5px;
}

.text-input {
  width: 100%;
  padding: 2px;
  font-size: 1rem;
  font-family: $roboto-light;
}
