@import '../common/_variables.scss';
@import '../common/_typography.scss';

.field {
  margin-bottom: $copy-margin-bottom;
}

.label {
  margin-bottom: 5px;
}

.text-input {
  width: 100%;
  padding: 2px;
  font-size: 1rem;
  font-family: $roboto-light;
  border: $dark-gray 1px solid;
  border-radius: 3px;
  min-height: 1.5rem;
}

.tags-cont {
  margin-bottom: $copy-margin-bottom;
}

.tag {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.4rem;

  .check {
    height: 1rem;
    width: 1rem;
    margin: 0 5px 0 0;
    padding: 0;
  }
}

.save {
  background: $dark-green;
  color: white;
  font-family: $roboto-bold;
  transition: all 150ms linear;

  &:hover {
    background: $eggplant;
  }
}
