@import '../common/_variables.scss';
@import '../common/_typography.scss';

.title-cont, .details {
  margin-bottom: $page-margin;
	background-color: white;
  padding: $section-padding;
  border-radius: 1rem;
  position: relative;
}

.title {
  font-size: 2rem;
}

.back {
  position: absolute;
  right: $section-padding / 2;
  top: $section-padding / 2;
	cursor: pointer;
	border-radius: 5px;
	font-family: $roboto-bold;
  font-size: 1rem;
  transition: all 150ms linear;

  &:hover {
    color: $dark-green;
  }
}

.edit {
  background-color: transparent;
  padding: 0;
  position: absolute;
  left: $section-padding / 2;
  top: $section-padding / 2;

  .edit-icon {
    height: 1rem;
    width: 1rem;
  }
}

.content {
  margin-bottom: $copy-margin-bottom * 2;
}

.tags-cont {
  display: flex;
  margin-bottom: $copy-margin-bottom * 2;

  .tag {
    background: $light-gray;
    padding: 8px;
    position: relative;
    margin-right: $copy-margin-bottom;
    transition: all 150ms linear;

    &.tagged {
      background: $lavender;

      .close {
        transform: rotate(0);
      }
    }
  }

  .close {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    padding: 0;
    background-color: transparent;
    transform: rotate(45deg);
    transition: all 150ms linear;

    img {
      height: 0.8rem;
      width: 0.8rem;
    }
  }
}

.status-cont {
  display: flex;

  .status, .delete {
    background-color: $light-gray;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $roboto-bold;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .status.active {
    background-color: $dark-green;
    color: white;
  }
}
