@import '../common/_variables.scss';
@import '../common/_typography.scss';

.main {
  padding: $section-padding;
}

.title {
  font-size: 2rem;
}

.back {
  display: block;
  width: fit-content;
  margin-left: auto;
  border: $green-bg 4px solid;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	font-family: $roboto-bold;
  font-size: 1rem;
  transition: all 150ms linear;

  &:hover {
    background-color: $green-bg;
  }
}

.edit {
  background-color: transparent;
  padding: 0;

  .edit-icon {
    height: 1rem;
    width: 1rem;
  }
}

.status-cont {
  display: flex;
  margin-bottom: $copy-margin-bottom;

  .status, .delete {
    background-color: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $roboto-bold;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .status.active {
    background-color: $dark-green;
    color: white;
  }
}
