@import '../common/_variables.scss';
@import '../common/_typography.scss';

.container {
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: $page-margin;
  background-color: white;
  padding: $section-padding;
  border-radius: 1rem;
}

.new,
.list-cont {
  background-color: white;
  padding: $section-padding;
  border-radius: 1rem;
}

.new {
  width: 40%;
  margin-right: $page-margin;
}

.list-cont {
  width: 60%;
}

.list {
  width: 100%;
  list-style: inside;
}

.search {
  margin-bottom: $copy-margin-bottom;
  display: flex;
  align-items: center;

  .search-label {
    margin-right: $copy-margin-bottom;
  }

  .search-input {
    flex: 1;
    min-height: 1.5rem;
    padding: 2px;
    font-size: 1rem;
    font-family: $roboto-light;
    border: $dark-green 1px solid;
    border-radius: 3px;
  }
}

.tags-cont {
  display: flex;
  align-items: center;
  margin-bottom: $copy-margin-bottom * 2;

  .tag {
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;

    &:not(:last-child) {
      margin-right: $copy-margin-bottom;
    }

    &:first-child {
      margin-left: $copy-margin-bottom;
    }

    &.exercise {
      border-color: $sand;

      &.active {
        background-color: $sand;
      }
    }

    &.coding {
      border-color: $redish;
      &.active {
        background-color: $redish;
      }
    }

    &.cooking {
      border-color: $blush;
      &.active {
        background-color: $blush;
      }
    }
  }
}
