@import 'variables.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: $roboto-reg;
	color: $black;
	line-height: 1;
	background-color: $green-bg;
}

.main {
	margin: $page-margin;
	min-height: calc(100vh - #{$page-margin} * 2);
}

.h2 {
	line-height: 1;
	margin-bottom: $copy-margin-bottom * 2;
}

h1 {
	font-size: 3rem;
}

.h2 {
	font-size: 1.5rem;
}

p {
	margin-bottom: $copy-margin-bottom;
	line-height: 1.5;
}

a {
	color: black;
	text-decoration: none;
}

button {
	cursor: pointer;
	background-color: $green-bg;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-family: $roboto-bold;
	font-size: 1rem;
}
